   <div id="wrapper"><br />
<b>Employee Details</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New<br />
<br />
       <div id="contentMain">
     

           <h3>Key Information</h3>
           <table class="tg">
               <tr>
                   <th class="tg-yw4l">Employee Code : EC01</th>

               </tr>
               <tr>
                   <td class="tg-b7b8">Employee Name: EMP1</td>

               </tr>

           </table>

       </div>



       <div id="clear"></div>





   </div>
               